.hidden {
  display: none;
}

/* mobile device */
@media only screen and (max-width: 480px) {
  /* navbar */
  .nav-items ul,
  .nav-container {
    flex-direction: column;
  }

  .logo-title {
    margin: auto;
    padding-bottom: 20px;
  }

  #nav-btn {
    padding: 10px 10px;
  }

  /* hero section */
  .hero-container {
    flex-direction: column;
  }

  .hero-img {
    width: 100%;
    height: 100%;
  }

  main {
    padding: 0px 10px;
  }

  .hero-text-info {
    text-align: center;
  }

  .common-btn {
    padding: 10px 30px;
    font-size: 16px;
  }

  /* our client section */
  .our-client-logs {
    flex-direction: column;
    align-items: center;
  }

  /* community section */

  .community-card-container {
    flex-direction: column;
  }

  /* pixedl grade section */
  .pixelgrade-container {
    flex-direction: column;
  }

  .pixelgrade-img {
    width: 100%;
    height: 100%;
  }

  .pixelgrade-left-side {
    width: 100%;
  }

  .pixelgrade-right-side {
    width: 100%;
  }

  .learnmore-btn-div {
    text-align: center;
  }

  .pixelgrade-right-side h1 {
    margin-top: 20px;
  }

  /* stats section */

  .stats-container {
    flex-direction: column;
    padding: 40px 0px;
  }

  .stats-div-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .stats-heading-div {
    width: 80%;
  }

  .stats-div-container {
    margin-top: 10px;
  }

  /* review Section */

  .review-container {
    flex-direction: column;
    gap: 20px;
  }

  .review-left-side {
    width: 100%;
  }

  .review-right-side {
    width: 100%;
  }

  .brand-logo-with-text {
    flex-direction: column;
  }

  .review-brand-logos {
    flex-direction: column;
  }

  /* blog section */
  .blog-card-container {
    flex-direction: column;
  }

  .blog-card {
    margin-bottom: 80px;
  }

  /* footer section */
  #footer-container {
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-logo-text {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-info {
    width: 100%;
  }

  .social-icons {
    display: flex;
    margin: auto;
    gap: 20px;
  }

  .footer-company h3,
  .footer-support h3,
  .footer-newsletter h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .input-wrapper img {
    right: 120px;
    
  }
}

/*------------------------------ tablet device------------------------ */

@media only screen and (max-width: 768px) {
  .nav-items ul,
  .nav-container {
    flex-direction: column;
  }

  .logo-title {
    margin: auto;
    padding-bottom: 20px;
  }

  #nav-btn {
    padding: 10px 10px;
  }

  /* hero section */
  .hero-container {
    flex-direction: column;
  }

  .hero-img {
    width: 100%;
    height: 100%;
  }

  main {
    padding: 0px 10px;
  }

  .hero-text-info {
    text-align: center;
  }

  .common-btn {
    padding: 10px 30px;
    font-size: 16px;
  }

  /* community section */
  .community-card-container {
    flex-direction: column;
  }

  /* pixedl grade section */
  .pixelgrade-container {
    flex-direction: column;
  }

  .pixelgrade-img {
    width: 100%;
    height: 100%;
  }

  .pixelgrade-left-side {
    width: 100%;
  }

  .pixelgrade-right-side {
    width: 100%;
  }

  .learnmore-btn-div {
    text-align: center;
  }

  .pixelgrade-right-side h1 {
    margin-top: 20px;
  }

  /* review Section */

  .review-container {
    flex-direction: column;
    gap: 20px;
  }

  .review-left-side {
    width: 100%;
  }

  .review-right-side {
    width: 100%;
  }

  .brand-logo-with-text {
    flex-direction: column;
  }

  /* footer section */
  #footer-container {
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-logo-text {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-info {
    width: 100%;
  }

  .social-icons {
    display: flex;
    margin: auto;
    gap: 20px;
  }

  .footer-company h3,
  .footer-support h3,
  .footer-newsletter h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .input-wrapper img {
    right: 120px;
    
  }
}
